<section *ngIf="signalrService.orderSignal() as order" class="bg-white py-16">
  <div class="mx-auto max-w-2xl px4">
    <h2 class="font-semibold text-2xl mb-2">Thanks for your order</h2>
    <p class="text-gray-500 mb-8">
      Your fake order has been submitted to
      no one. Don't expect to receive the order in a timely manner because the
      items where fake and this whole store is fake. Rest assured your cc
      details were not stored in a place where I the developer can get those
      details
    </p>
    <div
      class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8"
    >
      <dl class="flex items-center justify-between gap-4">
        <dt class="font-normal text-gray-500">Date</dt>
        <dd class="font-medium text-gray-900 text-end">{{ order.orderDate | date : 'medium' }}</dd>
      </dl>
      <dl class="flex items-center justify-between gap-4">
        <dt class="font-normal text-gray-500">Payment</dt>
        <dd class="font-medium text-gray-900 text-end">{{ order.paymentSummary | card }}</dd>
      </dl>
      <dl class="flex items-center justify-between gap-4">
        <dt class="font-normal text-gray-500">Address</dt>
        <dd class="font-medium text-gray-900 text-end">{{ order.shippingAddress | address }}</dd>
      </dl>
      <dl class="flex items-center justify-between gap-4">
        <dt class="font-normal text-gray-500">Amount</dt>
        <dd class="font-medium text-gray-900 text-end">{{ order.total| currency }} </dd>
      </dl>
    </div>
    <div class="flex justify-end space-x-4">
      <button routerLink="/orders/42" mat-flat-button routerLink="/orders/{{order.id}}">View Order</button>
      <button routerLink="/shop" mat-stroked-button>Continue Shopping</button>
    </div>
  </div>
</section>

<section *ngIf="!signalrService.orderSignal()" class="bg-white py-16">
  <div class="mx-auto max-w-2xl px4">
    <h2 class="font-semibold text-2xl mb-2">Order processing ... please wait</h2>

    <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
      <div class="flex flex-col justify-center items-center">
        <mat-spinner class="text-xl"></mat-spinner>
        <p class="text-xl">Loading order ....</p>
        <span>Your payment has been received. We are creating the order in the background</span>
      </div>
    </div>

    <div class="flex justify-end space-x-4">
      <button routerLink="/shop" mat-stroked-button>Continue Shopping</button>
    </div>
  </div>
</section>