<div class="flex mt-32 gap-6">
  <div class="w-3/4">
    <mat-stepper
      #stepper
      class="bg-white border border-gray-200 shadow-sm"
      [linear]="true"
      (selectionChange)="onStepChanged($event)"
    >
      <mat-step label="Address" [completed]="completionStatus().address">
        <div id="address-element"></div>
        <div class="flex justify-end mt-1">
          <mat-checkbox
            [checked]="saveAddress"
            (change)="onSaveAddressChanged($event)"
          >
            Save as default address
          </mat-checkbox>
        </div>
        <div class="flex justify-between mt-6">
          <button mat-stroked-button routerLink="/shop" class="z-0">
            Continue Shopping
          </button>
          <button mat-flat-button matStepperNext class="z-0" [disabled]="!completionStatus().address">Next</button>
        </div>
      </mat-step>
      <mat-step label="Shipping" [completed]="completionStatus().delivery">
        <app-checkout-delivery
          (deliveryComplete)="handleDeliveryChange($event)"
        ></app-checkout-delivery>
        <div class="flex justify-between mt-6">
          <button mat-flat-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext [disabled]="!completionStatus().delivery">Next</button>
        </div>
      </mat-step>
      <mat-step label="Payment" [completed]="completionStatus().card">
        <div id="payment-element"></div>
        <div class="flex justify-between mt-6">
          <button mat-flat-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext [disabled]="!completionStatus().card">Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
        <app-checkout-review [confirmationToken]="confirmationToken"></app-checkout-review>
        <div class="flex justify-between mt-6">
          <button mat-flat-button matStepperPrevious>Back</button>
          <button mat-flat-button (click)="confirmPayment(stepper)">
            Pay {{ cartService.totals()?.total ?? 0 | currency }}
          </button>
        </div>
      </mat-step>
    </mat-stepper>
    <div class="w-full">
<pre>{{ cartService.cart() | json }}</pre>
    </div>
  </div>
  <div class="w-1/4">
    <app-order-summary [showCheckoutButtons]="false"></app-order-summary>
  </div>
</div>
